body{

margin: 0px;
}
header{
overflow: hidden;

padding: 10px 50px;

border-bottom: 1px solid #7c7a7b54;
}
.logo{

width: 20%;

float: left;
}
.logo a{

}
.logo a img{

width: 100px;

float: left;
}
.menu{

width: 80%;

float: left;
}
.menu ul{

margin: 0px;

padding: 0px;

text-align: right;
}
.menu ul li{

    list-style-type: none;
    display: inline-block;
}
.menu ul li a{

text-decoration: none;

color: black;

font-size: 32px;

padding: 30px 25px;

display: block;

transition-duration: 0.3s;
transition-timing-function: linear;
transition-property: all;
}
.menu ul li a:hover{
    
background: red;
    
color: white;
    
padding: 15px 20px;
}

.container{


height: 600px;

width: 1000px;

margin: 50px auto;
}
.col-1-3{

height: 150px;

width: 33.33%;

float: left;

padding: 5px;

box-sizing: border-box;
}
.col-1-1{

height: 150px;

width: 100%;

float: left;

padding: 5px;

box-sizing: border-box;
}
.col-2-3{

height: 150px;

width: 66.66%;

float: left;

padding: 5px;

box-sizing: border-box;
}
.col-1-2{

height: 150px;

width: 50%;

float: left;

box-sizing: border-box;

padding: 5px;
}
.col-1-6{
    
height: 150px;
    
width: 16.67%;
    
float: left;
    
padding: 5px;
    
box-sizing: border-box;
}
.red{
background-color: red;
height: 100%;
}
.maroon{
background-color: maroon;
height: 100%;
}
.pink{
background-color: pink;
height: 100%;
}
.orange{
    background-color: orange;
height: 100%;
}